<app-nav></app-nav>

<div class="main registro">
    <div class="col-md-12 formulario ventana">
      
      <div class="col-md-12">
        <div class="h2-standar titulo">¡Regístrate en Contenidos Locales!</div>
      </div>
      
      <div class="col-md-12 p-normal bajada">
        Ingresa los siguientes datos para completar tu registro, no te asustes si algunos de tus datos aparecen con tan solo digitar tu Rut. BiblioRedes y Registro Civil están comunicados.
      </div>
      
      <div class="fila-campos">
        <div class="col-md-4">
          <label class="p-normal">R.U.T o Pasaporte</label>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn boton-claro" data-toggle="dropdown">R.U.T <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </div>
            <input type="text" placeholder="Ingresar Contraseña" class="input-with-select">
          </div>
        </div>
        <div class="col-md-4">
          <label class="p-normal">Nombres</label>
          <input type="text" name="" placeholder="Escribe tus nombres">
        </div>
        <div class="col-md-4">
          <label class="p-normal">Sexo</label>
          <select>
            <option value="0">Elija una opción</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
      </div>
        
      <div class="fila-campos">
        <div class="col-md-4">
          <label class="p-normal">Apellido Paterno</label>
          <input type="text" name="" placeholder="Escribe un apellido">
        </div>
        <div class="col-md-4">
          <label class="p-normal">Apellido Materno</label>
          <input type="text" name="" placeholder="Escribe un apellido">
        </div>
        <div class="col-md-4">
          <label class="p-normal">Fecha de nacimiento</label>
          <input type="text" name="" placeholder="Escribe una fecha">
        </div>
      </div>
    
      <div class="fila-campos">
        <div class="col-md-4">
          <label class="p-normal">Región de Residencia</label>
          <select>
            <option value="0">Elija una opción</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="p-normal">Comuna de Residencia</label>
          <select>
            <option value="0">Elija una opción</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="p-normal">País de Origen</label>
          <select>
            <option value="0">Elija una opción</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
      </div>
      <div class="fila-campos">   
        <div class="col-md-4">
          <label class="p-normal">Ocupación</label>
          <select>
            <option value="0">Elija una opción</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="p-normal">Escolaridad</label>
          <select>
            <option value="0">Elija una opción</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
      </div>
    
      <div class="fila-campos">
        <div class="col-md-4">
          <label class="p-normal">Correo Eléctronico</label>
          <input type="text" name="" placeholder="Escribe tu correo electrónico">
        </div>
        <div class="col-md-4">
          <label class="p-normal">Contraseña</label>
          <input type="text" name="" placeholder="Escribe una contraseña">
        </div>
        <div class="col-md-4">
          <label class="p-normal">Repita Contraseña</label>
          <input type="text" name="" placeholder="Escribe la contraseña nuevamente">
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="checkbox">
        <label class="p-normal link-normal">
          <input type="checkbox">Acepto los <a>Términos y condiciones de Contenidoslocales.cl</a>
        </label>
        </div>
      </div>
      <div class="col-md-6 botones">
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <input type="button" class="btn boton-claro" value="Borrar">
          </div>
          <div class="col-md-6">
            <input type="button" class="btn boton-oscuro" value="Registrase">
          </div>
        </div>
      </div>
    </div>

    <div class="row pregunta">
      <div class="col-md-12 p-normal titulo">
        ¿Ya te encuentras registrado?
      </div>
      <div class="col-md-4 col-md-offset-4">
          <a href="" class="btn boton-claro">Iniciar sesión</a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>