<nav class="header">
    <div class="container">
        <div class="container-boton-carga">
          <input type="button" class="btn boton-claro" value="Cargar un Contenido Local">
        </div>
        <div class="navegador">
          <ul class="nav navbar-nav">
              <li class="active"><a href="#">Archivo</a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Quienes Somos<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>
              <li><a href="#">Noticias</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
              <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="acceso">
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/registro']">Registrarse</a></li>
            <li><a  [routerLink]="['/login']">Iniciar Sesión</a></li>
          </ul>
    </div>
    </div>
  </nav>