<footer>
  	<div class="container">
    		<div class="row">
      		<div class="col-md-4 link-small">
      			<div class="links-left">
      				<div ><a>Inicio</a></div>
      				<div><a>Archivo</a></div>
      				<div><a>Noticias</a></div>
      				<div><a>Contacto</a></div>
      			</div>
      			<div class="links-right">
      				<div><a>Quienes Somos</a></div>
      				<div><a>Red de Contenidos</a></div>
      				<div><a>Preguntas</a></div>
      				<div><a>Términos y Condiciones</a></div>
      			</div>
      		</div>
      		<div class="col-md-4 logos">
      			<img src="Imagenes/Footer/logo-footer-ministerio.png" style="margin-right: 25px;">
      			<img src="Imagenes/Footer/logo-footer-biblioredes.png">
      		</div>
      		<div class="col-md-4" style="text-align: right;">
        			<div style="font-size: 13px;font-weight: normal;color: #2E5A64">
        				Siguenos en las redes sociales:
        			</div>
        			<div class="redes-sociales">
		          	<i class="fa fa-youtube-square"></i>
		          	<i class="fa fa-facebook-square"></i>
			    	    <i class="fa fa-twitter-square"></i>
        				<i class="fa fa-instagram"></i>
	          	</div>
        			<input type="text" placeholder="¿Buscas algo especial?" class="">
        			<input type="button" class="btn boton-claro" value="Buscar">
      		</div>
    		</div>
    		<div class="row p-small-highlight" style="margin-top: 20px;">
      	      <p>Copyright © 2018 Todos los derechos reservados.</p>
    		</div>
  	</div>
	</footer>